<mat-card class="text-center">
  <div>
    <img class="mb-1 mx-auto h-[200px]" src="https://via.placeholder.com/150" />
    <div class="w-full">
      <div>
        <h5>Ranchera</h5>
        <p class="truncate hover:whitespace-normal">Ana Barbara</p>
        <p>Descritpion</p>
      </div>
      <div class="flex justify-between mt-5">
        <span class="text-red-400">{{ 25 | currency }}</span>
        <button>
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
