<mat-card [ngClass]="{ 'text-center': !fullWidthMode }">
  <div [ngClass]="{ flex: fullWidthMode }">
    <img
      class="mx-auto h-[200px]"
      [ngClass]="{ 'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      src="https://via.placeholder.com/150"
    />
    <div class="w-full"
    [ngClass]="{'px-8 flex flex-col justify-between': fullWidthMode}">
      <div>
        <h5>Ranchera</h5>
        <p class="truncate hover:whitespace-normal">Ana Barbara</p>
        <p *ngIf="fullWidthMode">Descritpion</p>
      </div>
      <div class="flex justify-between mt-5">
        <span class="text-red-400">{{ 25 | currency }}</span>
        <button>
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
