<mat-card  class="max-w-7xl mx-auto" *ngIf="cart.items.length">
<table mat-table [dataSource]="dataSource" class="w-full">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>

</mat-card>
<mat-card class="max-w-7xl mx-auto"  *ngIf="!cart.items.length">
    <p>
        Your cart is empty
        <button mat-raised-button routerLink="/home">Start shopping</button>
    </p>
</mat-card>